
@font-face { font-family: Frutiger; src: url(../assets/fonts/FrutigerLTStd-Light.otf); font-weight: 200; }
@font-face { font-family: Frutiger; src: url(../assets/fonts/FrutigerLTStd-LightItalic.otf); font-weight: 200; font-style: italic; }

@font-face { font-family: Frutiger; src: url(../assets/fonts/FrutigerLTStd-Roman.otf); }
@font-face { font-family: Frutiger; src: url(../assets/fonts/FrutigerLTStd-Italic.otf); font-style: italic; }

@font-face { font-family: Frutiger; src: url(../assets/fonts/FrutigerLTStd-Bold.otf); font-weight: 700; }
@font-face { font-family: Frutiger; src: url(../assets/fonts/FrutigerLTStd-BoldItalic.otf); font-weight: 700; font-style: italic; }

@font-face { font-family: Frutiger; src: url(../assets/fonts/FrutigerLTStd-Black.otf); font-weight: 800; }
@font-face { font-family: Frutiger; src: url(../assets/fonts/FrutigerLTStd-BlackItalic.otf); font-weight: 800; font-style: italic; }

@font-face { font-family: Frutiger; src: url(../assets/fonts/FrutigerLTStd-UltraBlack.otf); font-weight: 900; }
