*{
	box-sizing: border-box;
}
body,
html{
	margin: 0;
	padding: 0;
	background-color: #fff;
}

main{
	width: 100%;
	height: 100vh;
	overflow: hidden;
}
input[type="checkbox"]{
	opacity: 0;
}
.mdl-tabs{
	height: 100vh;
	overflow: hidden;
}
.mdl-tabs__panel{
	padding: 10px 10px;
	height: calc(100vh - 60px);
	overflow-y: auto; 

}

footer{
	width: 100%;
	padding: 20px;
	min-height: 0;
	border-top: 1px solid #757575;
	text-align: right;
}

button{
	padding: 5px 10px;
	border: 1px #ddd solid;
	border-radius: 0 0 5px 5px;
	font-size: 12px;
	background-color: #fff;
}
button.disabled{
	color: #ddd;
}
.tabs{
	width: 100%;
	height: auto;
}
.mdl-layout__content{
	float:left;
}
.mdl-tabs__panel#general input[type="text"],
.mdl-tabs__panel#general label,
.mdl-tabs__panel#general label span{
	font-size: 12px;
}
.tabs .tabHeads{
	width: 100%;
	display: flex;
	display: -webkit-flex;
}
.tabs .tabHeads .tabHead{
	padding: 5px 10px;
	border-radius: 5px 5px 0 0 ;
	border: 1px #ddd solid;
	font-size: 12px;
	cursor: pointer;
	margin-right: 4px;
	background-color: #fff;
}
.tabs .tabContents{
	width: 100%;
	height: auto;
	overflow: hidden;
	border: 1px #ddd solid;
	margin-top: -1px;
}
.tabs .tabContents .content{
	width: 100%;
	display: none;
	height: 350px;
	background-color: #ddd;
	padding: 10px;
}
.inlineFields{
	display: inline-block;
	float:left;
}
.inlineFields .mdl-textfield:nth-of-type(1){
	width: 150px;
}
.inlineFields .mdl-textfield > *{
	text-align: center;
}
.inlineFields .mdl-textfield:nth-of-type(2){
	width: 240px;
}
.inlineFields .mdl-textfield:nth-of-type(3){
	width: 150px;
}
#disabled_actions .mdl-checkbox{
	width: auto;
	margin-right: 10px;
}
.tabs[data-active="general"] .tabHeads .tabHead[data-tab="general"]{
	background-color: #ddd;
}

.tabs[data-active="general"] .tabContents .content#general{
	display: block;
}
.tabs[data-active="ftp"] .tabHeads .tabHead[data-tab="ftp"]{
	background-color: #ddd;
}
.tabs[data-active="ftp"] .tabContents .content#ftp{
	display: block;
}
.tabs[data-active="keys"] .tabHeads .tabHead[data-tab="keys"]{
	background-color: #ddd;
}
.tabs[data-active="keys"] .tabContents .content#keys{
	display: block;
	overflow-y: scroll;
	position: relative;
}
.tabs[data-active="log"] .tabHeads .tabHead[data-tab="log"]{
	background-color: #ddd;
}
.tabs[data-active="log"] .tabContents .content#log{
	display: block;
}
.buttonsContainer{
	text-align: right; 
	margin-top: -1px;
}


.content{
	font-size: 12px;
	overflow-y: scroll;
}

.content .actionArea .legend{
	font-weight: bold;
}

.content input{
	padding: 5px;
	margin: 5px auto;
	border-radius: 5px;
}


#keys{
	padding: 0 20px;
}
#keys #scanKyes{
	position: fixed;
	top: 36px;
	right: 20px;
	cursor: pointer;
	padding: 5px 20px;
	border-radius: 0 0 5px 5px;
	color:#fff;
	background-color: #333;
	z-index: 10;
	opacity: .8;
}





#keys .key-card{
	width: 100%;
	min-height: 0;
	border: 1px #eee solid;
	border-bottom: none;
	overflow: visible;
}
#keys .key-card:last-of-type{
	border-bottom: 1px #eee solid;
}
#keys aside.btnWrap{
	padding: 10px 0;
}
#keys aside.btnWrap button{
	margin-right: 5px;
}
#keys .key-card .kmItem{
	display: flex;
}
#keys .key-card .kmItem .kmThumb{
	width: 67px;
	height: 50px;
	margin: 10px;
	position: relative;
}
#keys .key-card .kmItem .kmThumb img{
	width: auto;
	height: 50px;
	position: absolute;
	left:0;
	top:0;
	z-index: 10;
	display: block;
}

#keys .key-card .kmItem .kmDetails{
	width: 425px;
	flex-shrink: 0;
}
#keys .key-card .kmItem .kmDetails h2{
    font-size: 14px;
    font-weight: bold;
    line-height: 28px;
    margin: 7px 0 0 0;
}
#keys .key-card .kmItem .kmDetails h2 .prefixInput{
    margin-top: 6px;
    width: 50px;
    line-height: 15px;
    border: 0;
    border-bottom: 1px dotted #ccc;
    color: #666;
    outline: none;
}

#keys .key-card .kmItem .kmDetails input.descriptionInput{
    display: block;
    margin-top: 6px;
    width: 100%;
    line-height: 15px;
    border: 0;
    border-bottom: 1px dotted #ccc;
    color: #666;
    outline: none;
}

#keys .key-card .kmItem .kmAssetsToggle{
	margin-left: 10px;
}
#keys .key-card .kmItem .kmAssetsToggle .assetsNo{
	font-size: 12px;
    color: #ccc;
    text-align: center;
    margin-top: 10px;
}
#keys .key-card .kmItem .kmAssetsToggle .mdl-card__menu{
	position: relative;
	text-align: center;
	right: auto;
	top: auto;
}
#keys #listKeyMessages{
	position: relative;
}
#keys #listKeyMessages .bigThumb{
	position: fixed;
	top: 60px;
	left: 150px;
	border: 2px #ccc solid;
	z-index: 10;
	display: none;
	width: auto;
	height: auto;
	
}
#keys #listKeyMessages .bigThumb img{
	width: 400px;
	height: auto;
	display: block;
}
#keys #listKeyMessages .key-card .mdl-card__actions{
	display: none;
}
#keys #listKeyMessages .key-card.expanded .mdl-card__actions{
	display: block;
}

#keys #listKeyMessages .key-card .mdl-card__menu button{
	transition: transform .15s ease-in-out;
	-webkit-transition: transform .15s ease-in-out;
}
#keys #listKeyMessages .key-card.expanded .mdl-card__menu button{
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
}

#keys #listKeyMessages .key-card .assets{
	padding: 0;
}
#keys #listKeyMessages .key-card .assets .asset{
	padding: 0 10px;
	min-height: 30px;
	font-size: 12px;
	border-bottom: 1px #ccc dotted;
	overflow: visible;
}
#keys #listKeyMessages .key-card .assets .asset i{
	font-size: 18px;
}
#keys #listKeyMessages .key-card .assets .asset .assetName{
	margin-left: 10px;
	position: relative;
	width: 100%;
}

#keys #listKeyMessages .key-card .assets .asset .assetName .assetRelPath{
	position: absolute;
	width: auto;
	top: -100%;
	left:0;
	opacity: 0;
    top: -175%;
    left: -25px;
	-webkit-transition: opacity .25s ease-in-out;
	   -moz-transition: opacity .25s ease-in-out;
	    -ms-transition: opacity .25s ease-in-out;
	     -o-transition: opacity .25s ease-in-out;
	        transition: opacity .25s ease-in-out;
    padding: 3px;
    background-color: #eee;
}

#keys #listKeyMessages .key-card .assets .asset .assetName:hover .assetRelPath{
	opacity: 1;
}

/*#keys #listKeyMessages .kmItem




#keys #listKeyMessages .key-card .mdl-card__title h2{
	font-size: 16px;
}
#keys #listKeyMessages .key-card .descriptionInput{
	display: block;
}

#keys .key-card .mdl-list__item{
	padding: 0px 16px;
}

#keys .mdl-list__item .mdl-list__item-primary-content{
	max-width: 90%;
	text-overflow: ellipsis;
	white-space: nowrap;
}
#keys .mdl-list__item .mdl-list__item-primary-content > span{
	width: 100%;
	padding-left: 10px;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 12px;
}

#keys #listKeyMessages > h2,
#keys #listCommons > h2{
	font-size: 18px;
	line-height: 30px;
	margin-bottom: 5px;
	font-weight: bold;
	margin: 0;
}*/







#log .mdl-list__item{
	padding: 0 16px;
	min-height: 36px;
	font-size: 12px;
	border-bottom: 1px #eee solid;
}

#log .mdl-list__item i.error{
	color: red;
}

#log .mdl-list__item i.info{
	color: blue;
}

#log .mdl-list__item:last-of-type{
	border-bottom: 0;
}

#log .mdl-list__item .mdl-list__item-primary-content > span{
	margin-left: 10px;
}




/***************/
/*****FTP TAB***/
#ftp .ftpSet{
	padding: 0 10px;
	border-bottom: 1px #000 solid;
	position: relative;
}
#ftp .ftpSet .deleteSet{
	position: absolute;
	top:0;
	right: 0;
	cursor: pointer;
}
#ftp .actionArea{
	min-height: 70px;
	display: flex;
	align-items: center;
}
#general .client-details{
	padding-left: 20px;
}
#general .client-details h2{
	font-size: 20px;
	margin: 0;
}