*{
	box-sizing: border-box;
}
.separator{
	width: calc(100% - 40px);
	display: block;
	margin-left: 20px;
	height: 1px;
	background-color: #ddd;
}
section{
	width: 100%;
	padding: 30px 20px;
	height: auto;
}
button{
	padding: 5px 10px;
	border: 1px #ddd solid;
	border-radius: 5px;
	font-size: 12px;
}
input{
	border: 1px #ddd solid;
	border-radius: 5px;
	font-size: 12px;
}
button:active{
	background-color: #eee;
}
#openProject{
	display: flex;
	display: -webkit-flex;
	align-items: center;
	-webkit-align-items: center;
	justify-content: center;
	-webkit-justify-content: center;
	padding: 50px 20px;
}
#selectWorkFolder{
	display: flex;
	display: -webkit-flex;
	align-items: center;
	-webkit-align-items: center;
	justify-content: center;
	-webkit-justify-content: center;
}
#selectWorkFolder #workFolder{
	border-radius: 0;
	border: none;
	border-bottom: 1px #ddd solid;
	margin-right: 30px;
	width: 150px;
}
#SelectProject{

}
#SelectProject h2{
	font-weight: bold;
	font-size: 14px;
}

ul#availableProjects{
	max-height: 150px;
	overflow-y: scroll;
}
ul#availableProjects li{
	margin: 7.5px 0;
	border-left: 1px #ccc solid;
	padding: 5px;
	background-color: #efefef;
	position: relative;
}
ul#availableProjects li:nth-child(odd){
	background-color: #ddd;
}
ul#availableProjects li h3{
	font-size: 12px;
	font-weight: bold;
}
ul#availableProjects li h5{
	font-size: 12px;
	margin-top:3px;
}
ul#availableProjects li button{
	position: absolute;
	right: 10px;
	top: 7.5px;
	background-color: #fff;
}