<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Universal Build Process</title>
        <link rel="stylesheet" href="css/material.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="css/fonts.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="author" href="humans.txt">
    </head>
    <body>
        <div id="p1" class="mdl-progress mdl-js-progress"></div>
        <div id="computedKey">
            <span>{{currentKey}}</span> <span>{{currentIndex}}/{{keysLength}}</span>
        </div>
        <script src="js/vue.js"></script>
        <script src="js/material.min.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>