.mdl-progress#p1{
	width: 100%;
	border-radius: 0;
}
#computedKey{
	padding: 20px;
	text-align: center;
}
#computedKey span{
	display: block;
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
	width: 100%;
}
#computedKey span:last-of-type{
	font-size: 12px;
	font-weight: 400;
}